/* PC */
@media (min-width: 64em) {
    input.mt-16 {
        font-size: 15px;
    }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .place-buy-btn{
        padding: 16px 16px;
    }

    #nav .subnav a{
        padding: 5px 12px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-info {
        line-height: 2;
    }

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-col-full,
    .s-full-width {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .Search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;

    }

    .footer-body {
        padding: 30px 16px;
    }

    .footer-content {
        font-size: 20px;
    }

    .footer-icon a {
        font-size: 26px;
    }
}